{{- if not .Values.secrets.existingSecretName }}
{{- $name := include "dialtone.secretName" . -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
  labels:
    {{- include "dialtone.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep
type: Opaque

{{- $existing := lookup "v1" "Secret" .Release.Namespace $name -}}
{{- if $existing }}
data:
{{- range $k, $v := $existing.data }}
  {{ $k }}: {{ $v }}
{{- end }}
{{- else }}
stringData:
  secret.properties: |
    x.oauth.client.id={{ .Values.secrets.xOauthClientId }}
    x.oauth.client.secret={{ .Values.secrets.xOauthClientSecret }}
    discord.oauth.client.id={{ .Values.secrets.discordOauthClientId }}
    discord.oauth.client.secret={{ .Values.secrets.discordOauthClientSecret }}
    jwt.secret={{ .Values.secrets.jwtSecret }}
    grok.api.key={{ .Values.secrets.grokApiKey }}
    email.resend.api.key={{ .Values.secrets.emailResendApiKey }}
    skalholt.sso.secret={{ .Values.secrets.skalholtSsoSecret }}
{{- end }}
{{- end }}
